:root {
  --nephritis: #27ae60;
}


.ng-boilerplate a {
  color: var(--nephritis);
}

footer {
  margin: 40px 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}